.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-left: -20%;
    top: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #1d1d1d;
    transition: 0.3s;
    overflow: hidden;   
    width: 125%;
}

.navbar a {
    float: right;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    color: rgb(0, 140, 255);
}

.navbar a.active {
    float: left;
    background-color: #1d1d1d;
    color: rgb(0, 140, 255);
}

.navbar a.active:hover {
    color: white;
}

.navbar .icon {
    display: none;
    color: rgb(0, 140, 255);
}

@media screen and (max-width: 700px) {
    .navbar a {display: none;}
    .navbar a.active {display: block;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 700px) {
    .navbar.responsive {
        position: relative;
        display: flex;
    }
    .navbar.responsive .icon {
      position: absolute;
      display:block;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
        float: none;
        position: relative;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .navbar.responsive .pages {
        display: grid;
        
    }
}