.navheader {
    display: flex;
    align-items: center;
    position: fixed;
    width:65%;
    margin-left: -3%;
    top: 0;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--black);
    transition: 0.3s;
    overflow: hidden;   
    width: 125%;
}

.navbarRight {
    float: right;
    position: inherit;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 3;
}

.navbarRight .pages {
    float: right;
    display: flex;
}

.navbar a {
    float: right;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    padding: 1.7rem 2.3rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    z-index: 3;
}

.navbar a:hover {
    color: var(--blue);
}

.navbar a.active {
    float: left;
    background-color: var(--black);
    color: var(--blue);
}

.navbar a.active:hover {
    color: var(--white);
}

.navbar .ham {
    display: none;
    color: var(--blue);
}

.navbar .ham:hover {
    color: var(--white);
}

@media screen and (max-width: 900px) {
    .navbar a {display: none;}
    .navbar a.active {display: flex; float: left;}
    .navbar a.ham {
      float: right;
      display: block;
    }   
}

@media screen and (max-width: 900px) {
    .navbarRight.responsive {
        background-color: var(--indigo);
        position: fixed;
        height: 100%;
        width: 0%;
        z-index: 1;
        top: 0;
        right: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    .navbarRight.responsive .pages {
        position: relative;
        display: block;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 20%;
    }

    .navbarRight.responsive .ham {
      position: absolute;
      display:block;
      right: 0;
      top: 0;
    }

    .navbarRight.responsive a {
        float: none;
        position: relative;
        display: block;
        transition: 0.3s;
    }
}