* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #1d1d1d;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    color: white;
}

h1 {
    font-size: 90px;
    padding-top: 15%;
}

h2 {
    font-size: 28px;
}

p {
    width: 42%;
    margin-right: 30%;
    margin-left: 3%;
    font-size: 20px;
}

.main {
    height: 95vh;
}

.name {
    margin: 0%;
    display: inline-block;
}

.about {
    height: 95vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 7rem;
    align-items: center;
    padding-bottom: 20%;
}

.aboutMain {
    grid-column: 1;
    width: 200%;
}

.skills {
    grid-column-start: 2;
    padding-top: 60%;
    display: flex;
    flex-wrap: wrap;
}

.skills__skill {
    padding: 0.6rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background: rgba(153,153,153,.2);
}

.projects {
    height: auto;
}

.projects__project {
    padding: 20px;
    border: 20px;
    height: 100%;
    margin-bottom: 3%;
    margin-right: 50%;
}

.contact {
    height: 95vh;
    margin-right: -10%;
}

.contacts {
    list-style-type: none;
    font-size: large;
    line-height: 250%;
    margin-left: 10%;
}

.iconbar{
    position: fixed;
    top: 70%;
    left: 3%;
    font-size: larger;
}

.iconbar a {
    display: block;
    padding: 18px;
    transition: all 0.3s ease;
}

.icon {
    color:rgb(0, 140, 255);
    font-size: 1.3rem;
}

.icon:hover {
    color: white;
}